body{
    margin: 0px;
    height: 100vh;
    width: 100%;
}
.main-background{
    background-size: cover;
    background-color: #ceede6;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-page{
    height: 300px;
    width: 420px;
    background-color: #31a483;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    margin: 25px
}
.title{
    color:rgb(224, 146, 118);
    font-weight: bold;
    font-family: "Courier New";
}
.email-card{
    padding-bottom: 10px;
}
.pass-card{
    padding-bottom: 10px;
}
.user-email{
    color: blue;
    font-size: 18px;
    font-weight: bold;
    font-family: "Times New Roman";
    margin: 20px;
    margin-left: 48px;
    
}
.user-pass{
    color: blue;
    font-size: 18px;
    font-weight: bold;
    font-family: "Times New Roman";
    margin: 20px;
    padding-top: 40px;
}
.submit-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.submit-button, .reset-button {
    color: blue;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    height: 28px;
    width: 65px;
}
.submit-button:hover, .reset-button:hover{
    background-color: rgb(149, 225, 200);
}
.birds-title{
    text-align: center;
    color: rgb(12, 160, 209);
    font-family: 'Times New Roman';

}
.birds-card{
    height: 500px;
    width: 500px;
    background-color: rgb(202, 236, 168);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 15px;
    flex-wrap: wrap;
}
.birds-image{
    height: 130px;
    width: 130px;
    border-radius: 8px;
}
.cards{
    height: 300px;
    width: 530px;
    background-color: coral;
    border-radius: 20px;
}
.rotate-card{
    height: 100px;
    width: 100px;
    color: yellow;
    margin: 15px;
    background-color: greenyellow;
    transform: rotate(120deg);
}