body{
    margin: 10px;
}
.title{
    color: hsl(195, 53%, 79%);
}
.anime-name{
    font-size: 25px;
    text-shadow: 3px 3px 5px red, -5px -5px 3px gray ;
}
.char{
    text-shadow: 3px 3px 5px rgb(227, 104, 161), -3px -3px 5px rgb(106, 225, 96), -3px -3px 5px rgb(78, 74, 192);
}
#box{
    height: 100px;
    width: 100px;
    background-color: rgb(253, 253, 255);
    box-shadow: 4px 4px 8px rgb(206, 219, 90);
}
.union{
    background-color: rgb(25, 137, 94);
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}
.union:hover{
    background-color: yellow;
}
.sword-men{
    font-family: Georgia;
    font-weight: bold;

}